@media (max-width: 1710px) {
    .villages {
        margin-top: -123px;
    }
}

@media (max-width: 1650px) {
    .villages {
        margin-top: -156px;
    }
}

@media (max-width: 1440px) {
    .villages {
        margin-top: -160px;
    }
}

@media (max-width: 1200px) {
    .header__top {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .title {
        font-size: 50px;
    }
}

@media (max-width: 1140px) {
    .top__swiper {
        margin-top: 78px;
        margin-bottom: 241px;
    }
}

@media (max-width: 1024px) {
    .header__content-left {
        margin-bottom: 298px;
    }

    .top__swiper {
        margin-top: 89px;
        margin-bottom: 258px;
    }
}

@media (max-width: 768px) {
    .top__swiper {
        display: none;
    }

    .header__content-left {
        border-right: none;
        gap: 168px;
    }

    .header__top {
        margin: 0 2px;
        justify-content: space-between;
    }

    .header__top .logo {
        width: 130px;
    }

    .socials {
        gap: 8px;
    }

    .social-icon-like {
        width: 36px;
        height: 36px;
    }

    .phone-mobile {
        display: flex;
    }

    .menu,
    .contact__number,
    .social-link,
    .border-img {
        display: none;
    }

    .menu__btn {
        display: flex;
    }

    .header-teg__text {
        font-size: 12px;
    }

    .header-tegs {
        max-width: 300px;
        padding-top: 16px;
        gap: 8px;
    }

    .header-teg {
        padding: 8px 12px;
    }

    .popup,
    .popup-menu__mob {
        top: 5px;
    }

    .popup-menu__mob {
        display: none;
        position: fixed;
        right: 0;
        z-index: 10;
        width: 100%;
    }

    .popup-content {
        max-width: 100%;
        padding: 0 10px;
        border-radius: 20px;
    }

    .popup-title {
        display: none;
    }

    .logo-mobile {
        display: flex;
    }

    .popup-close p {
        font-size: 12px;
    }

    .popup-close {
        padding: 6px 6px 6px 12px;
    }

    .popup-close img {
        width: 24px;
        height: 24px;
    }

    .popup-content-title {
        padding: 16px 0 13px 0;
        margin-bottom: 16px;
    }

    .popup-title__mob {
        display: flex;
        font-weight: 500;
        font-size: 18px;
        line-height: .95;
        letter-spacing: -0.02em;
        color: #2c2c2c;
        padding-bottom: 16px;
        border-bottom: 1px solid #eee;
        margin-bottom: 16px;
    }

    .menu-mobile__list-link {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 1;
        color: #2c2c2c;
    }

    .menu-mobile__list-item {
        margin-bottom: 8px;
    }

    .menu-mobile__list-item:last-child {
        margin-bottom: 0;
    }

    .menu__list-dropdown-villages-mob,
    .menu__list-dropdown-service-mob {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 14px 0;
    }

    .hidden {
        display: none;
    }

    .contact-mobile {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 16px 0;
    }

    .contact-text {
        font-size: 14px;
        line-height: 1.20;
    }

    .connect {
        margin-bottom: 8px;
    }

    .menu-mobile__content {
        gap: 16px;
    }

    .contacts__socials-mob {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 26px;
    }

    .contacts-icon-mob {
        width: 34px;
        height: 34px;
    }

    .header__content-right {
        border-left: none;
    }

    .title {
        font-size: 32px;
        max-width: 328px;
        margin-bottom: 36px;
    }

    .header-icon {
        padding: 8px;
        width: 80%;
        height: 80%;
    }

    .header-cover-img {
        display: none;
    }

    .slider-cover {
        display: block;
        width: 100%;
        height: 900px;
    }

    .top-mobile__swiper {
        width: 100%;
        height: 100%;
    }

    .top-mobile__swiper::after {
        content: '';
        background: linear-gradient(180deg, rgba(13, 13, 13, 0.8) 0%, rgba(13, 13, 13, 0.8) 100%);
        position: absolute;
        z-index: 5;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

    /* Пагинация мобильного слайдера */
    .top-mobile__swiper .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 16px;
    }

    .top-mobile__swiper .swiper-pagination-bullet {
        position: relative;
        width: 76px;
        height: 6px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 100px;
        margin: 0 8px;
    }

    .top-mobile__swiper .swiper-pagination-bullet-active::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 100px;
        animation: progressmob 9.9s linear forwards;
    }

    @keyframes progressmob {
        0% {
            width: 0;
        }

        90% {
            width: 100%;
        }

        100% {
            width: 100%;
        }
    }
}

@media (max-width: 520px) {

    .header__content {
        display: flex;
        gap: 0px;
    }

    .title {
        max-width: 100%;
    }

    .top-mobile__swiper .swiper-pagination {
        margin-bottom: 262px;
    }


    .header__content-left {
        margin-bottom: 98px;
    }

    .favorite-item {
        gap: 10px;
    }

    .favorite-item-img {
        width: 156px;
        height: 65px;
        border-radius: 6px;
    }

    .favorite-details__title {
        font-size: 11px;
    }

    .favorite-details__mapteg {
        gap: 2px;
        margin-bottom: 7px;
    }

    .favorite-details__mapteg p {
        font-size: 10px;
    }

    .favorite-details__mapteg img {
        width: 10px;
        height: 10px;
    }

    .favorite-details__price {
        font-size: 9px;
    }

    .remove-favorite {
        width: 18px;
        height: 18px;
    }

    .header-fixed.sticky .logo__fixed {
        display: block;
        width: 140px;
    }

    .header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 9px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
}

@media (max-width: 425px) {
    .header__content-left {
        gap: 123px;
    }

    


}




.header-fixed.sticky .menu__btn {
    border: 1px solid #005AA3;
}

.header-fixed.sticky .menu__btn path {
    fill:#005AA3;
    stroke: #005AA3;
}

.header-fixed.sticky .phone-mobile {
    border: 1px solid #005AA3;
}

.header-fixed.sticky .phone-mobile path {
    fill:#005AA3;
    stroke: #005AA3;
}

.header-fixed.sticky .menu__link path {
    fill:#2C2C2C;
    stroke: #2C2C2C;
}
