@media (max-width: 1670px) {
  
}

@media (max-width: 1200px) {

    .navigation-buttons {
        display: none;
    }
    .villages__inner {
        justify-content: center;
    }

    .section__name {
        justify-content: center;
        gap: 100px;
    }

    .section-info {
        margin-right: 0;
    }

    .villages,
    .built-cottages,
    .projects-home,
    .privileges,
    .reviews-video,
    .bid,
    .life,
    .reviews-residents,
    .bid-2,
    .latest-news,
    .our-contacts,
    .plan,
    .gallery {
        padding: 55px 0;
    }

    .slider-built-cottages__inner,
    .slider-projects-home__inner {
        gap: 10px 5px;
        justify-content: space-between;
    }

    .advantages-items {
        justify-content: center;
    }

    .reviews-video,
    .bid {
        margin-bottom: 85px;
    }

    .catalog-bid-2 {
        margin-bottom: 100px;
    }

    .gallery__content {
        grid-template-columns: repeat(1, auto);
    }

   
}

@media (max-width: 1165px) {
    .villages {
        margin-top: -185px;
    }

    .catalog-villages {
        margin-top: 0;
    }

    .header-cover_catalog_title {
        padding: 100px 0 20px 0;
    }

    .header-cover_catalog-tegs {
        margin-bottom: 10px;
    }

    .privileges-title {
        font-size: 46px;
    }

    .privileges__title {
        font-size: 16px;
        margin: 16px;
        padding: 19px;
    }

    .privileges__wrapper {
        gap: 12px;
    }

    .privileges__list {
        font-size: 12px;
        padding: 16px;
    }

    .privileges-img {
        margin-left: -37px;
        width: 200px;
        height: 200px;
    }

    .priv-item {
        height: 47px;
    }

    .priv-item img {
        width: 20px;
        height: 20px;
    }

    .privileges__link {
        margin-bottom: 16px;
        font-size: 16px;
    }

    .life__title {
        font-size: 50px;
    }

    .page__vaiilgaes {
        margin-bottom: 100px;
    }
}

@media (max-width: 1130px) {

    .slider-built-cottages__item,
    .slider-projects-home__item {
        flex-basis: 231px;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev,
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        display: none;
    }

    .built-cottage__details-count {
        font-size: 12px;
    }

    .built-cottage__content {
        height: 90px;
    }

    .review-resident {
        width: 100%;
    }

    .our-contacts-items {
        flex-wrap: wrap;
        gap: 16px;
    }

    .our-contacts__inner {
        width: 100%;
        gap: 16px;
    }

    .our-contacts__item:last-child {
        flex-basis: 100%;
    }

    .сontact-text-address {
        margin-bottom: 16px;
    }

    .infrastructure__content {
        display: none;
    }

    .infrastructure__content-mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -moz-column-gap: 16px;
             column-gap: 16px;
        row-gap: 32px;
        margin-bottom: 56px;
    }

    .infrastructure__content-mobile__card {
        position: relative;
        padding: 32px 12px 14px 12px;
        border-radius: 12px;
        background-color:  #f0f4fb;
    }

    .infrastructure__content-mobile__card svg {
        position: absolute;
        left: 12px;
        top: -16px;
    }

    .infrastructure__content-mobile__card-tilte {
        font-weight: 400;
        font-size: 12px;
        line-height: 115%;
        color: #2c2c2c;
    }

}

@media (max-width: 1045px) {
    .top-slide__link-img {
        display: none;
    }

    .bid__title {
        font-size: 38px;
        
    }

    .life__title {
        font-size: 38px;
    }

    .bid-2 .bid__title {
        font-size: 38px;
    }
}

@media (max-width: 1024px) {

    .ipdoc_body {
        color: #888E93;
        font-size: 13px;
    }
    .villages {
        margin-top: -224px;
    }

    .catalog-villages {
        margin-top: 0;
    }
}

@media (max-width: 980px) {

    .slider-built-cottages__item,
    .slider-projects-home__item {
        flex-basis: 221px;
    }

    .project-check {
        font-size: 8px;
        padding: 4px 7px;
    }

    .house-icon__img {
        padding: 5px;
        width: 22px;
        height: 22px;
    }

    .privileges__link {
        font-size: 12px;
        padding: 14px 0;
        width: 100%;
    }

    .review__text {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .review__author {
        gap: 16px;
        padding-top: 16px;
    }

    .review__author-name {
        font-size: 14px;
    }

    .review__author-date {
        font-size: 10px;
    }
}

@media (max-width: 937px) {

    .slider-built-cottages__item,
    .slider-projects-home__item {
        flex-basis: 188px;
    }

    .built-cottage__details-count {
        font-size: 10px;
    }

    .privileges__title {
        font-size: 14px;
    }

    .communication {
        display: none;
    }

    .bid-2 .bid__subtitle {
        border-bottom: none;
    }

    .ipoteka_block_wrap {
        flex-wrap: wrap;
    }

    .ipoteka_block {
        width: 50%;
        margin: 0 0 28px 0;
        padding: 0 14px;
    }

    .ipdoc__block {
        width: 50%;
    }

    .ipdoc__block2 {
        width: 50%;
    }

    .ipdoc__inner {
        background: #F0F4FB;
        padding: 28px 28px 28px 28px;
        border-radius: 12px;
        margin: 0 0 28px 0;
        height: 175px;
    }
}

@media (max-width: 820px) {
    .section__name {
        margin-bottom: 25px;
    }

    .villages__inner {
        gap: 16px;
    }

    .villages__item {
        width: 242px;
    }

    .slider-villages {
        margin-bottom: 10px;
    }

    .slider-villages__img {
        width: 242px;
        height: 126px;
    }

    .slider-villages-teg {
        padding: 6px 10px;
        align-items: center;
    }

    .slider-villages-teg p {
        font-size: 8px;
    }

    .slider-villages-teg img {
        width: 12px;
        height: 12px;
    }

    .villages__content-wrapper {
        padding: 0 5px;
    }

    .villages__content-title {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .villages__content-teg {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .villages__content-list li {
        margin-bottom: 6px;
        font-size: 10px;
    }

    .villages__content-list li:last-child {
        margin-bottom: 0;
    }

    .villages__content-list li::before {
        width: 6px;
        height: 6px;
    }

    .village-rating {
        gap: 10px;
        padding: 8px 0;
    }

    .rating-img,
    .reviews-img {
        width: 12px;
        height: 12px;
    }

    .rating-number,
    .reviews-count {
        font-size: 10px;
    }

    .slider-built-cottages__item,
    .slider-projects-home__item {
        flex-basis: 187px;
    }

    .built-cottage__details-count {
        font-size: 8px;
    }

    .built-cottage__content-title,
    .projects-home__content-title {
        font-size: 15px;
    }

    .privileges__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .bid__title {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .bid__subtitle {
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 22px;
    }

    .bid__slider {
        padding: 8px 0;
    }

    .bid__slider .swiper-slide img {
        height: 34px;
    }

    .bid-2 .bid__title {
        font-size: 26px;
        margin-bottom: 12px;
    }

    .our-contacts .section-title {
        font-size: 46px;
    }
}

@media (max-width: 800px) {
    .header-cover_catalog_title {
        padding: 40px 0 20px 0;
    }

    .section-title {
        font-size: 26px;
        line-height: 0.95;
        gap: 10px;
    }

    .section-info {
        flex-basis: 230px;
    }

    .top-mobile__swiper .swiper-pagination {
        margin-bottom: 56px;
    }

    .slider-built-cottages__item,
    .slider-projects-home__item {
        flex-basis: 263px;
    }

    .slider-built-cottages__inner,
    .slider-projects-home__inner {
        gap: 16px 80px;
        justify-content: center;
    }

    .slider-built-cottages,
    .slider-projects-home {
        height: 1091px;
    }

    .slider-built-cottages__img,
    .slider-projects-home__img {
        height: 135px;
    }

    .slider-built-cottage__mini,
    .slider-projects-home__mini {
        margin-bottom: 10px;
    }

    .built-cottage__content-title,
    .projects-home__content-title {
        font-size: 11px;
    }

    .built-cottage__content-teg {
        margin-bottom: 6px;
    }

    .built-cottage__content-teg img {
        width: 10px;
        height: 10px;
    }

    .built-cottage__gk {
        font-size: 10px;
    }

    .built-cottage__price {
        font-size: 9px;
        margin-bottom: 0;
    }

    .built-cottage__content {
        height: 58px;
    }

    .projects-home__price {
        font-size: 9px;
        margin-bottom: 10px;
    }

    .privileges__wrapper,
    .privileges-title {
        display: none;
    }

    .privileges-mob {
        display: flex;
    }

    .top__swiper-mob .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1px;
    }

    .top__swiper-mob .swiper-pagination-bullet {
        position: relative;
        width: 105px;
        height: 6px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 100px;
        margin: 0 8px;
    }

    .top__swiper-mob .swiper-pagination-bullet-active::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 100px;
        -webkit-animation: progresstop 8.9s linear forwards;
                animation: progresstop 8.9s linear forwards;
    }

    @-webkit-keyframes progresstop {
        0% {
            width: 0;
        }

        90% {
            width: 100%;
        }

        100% {
            width: 100%;
        }
    }

    @keyframes progresstop {
        0% {
            width: 0;
        }

        90% {
            width: 100%;
        }

        100% {
            width: 100%;
        }
    }

    .privileges {
        padding: 16px 0;
        margin-bottom: 50px;
    }

    .built-cottages {
        margin-bottom: -100px;
    }

    .top-slide__info-mob {
        background: rgba(255, 255, 255, 0.1);
        -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
        border-radius: 12px;
        margin-bottom: 8px;
    }

    .top-slide__content {
        width: 100%;
    }

    .top-slide__title-mob {
        width: 100%;
        margin: 0;
        margin-bottom: 8px;
    }

    .privilege-item img {
        width: 20px;
        height: 20px;
    }

    .offer-item {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.15;
        letter-spacing: -0.01em;
        color: #fff;
    }

    .top-slide__link-mob {
        width: 100%;
        margin: 0;
    }

    .swiper-wrapper-priv {
        height: 410px;
    }

    .privilege-item-mob {
        width: 100%;
    }

    .top-slide__link-mob {
        color: #fff;
        font-size: 16px;
    }

    .top-slide__title-mob {
        font-size: 16px;
    }

    .reviews-video .title-navigation {
        margin-bottom: 25px;
    }

    .reviews-video .video-box {
        min-height: 178px;
    }

    .reviews-video .swiper-slide-video:first-child {
        width: 312px;
    }

    .reviews-video .swiper-slide-video {
        width: 156px;
    }

    .reviews-video .video-duration {
        top: 12px;
        left: 12px;
        padding: 6px 10px;
        font-size: 8px;
    }

    .reviews-video .video__btn {
        width: 52px;
        height: 52px;
    }

    .reviews-video .video__btn img {
        width: 24px;
        height: 24px;
    }

    .reviews-video .video-slide__inner p {
        margin-top: 12px;
        font-size: 10px;
        line-height: 1.2;
    }

    .bid__form {
        padding: 16px;
    }

    .form-items {
        gap: 8px;
        margin-bottom: 12px;
    }

    .form-item {
        padding: 17px;
        font-size: 14px;
    }

    .form-info {
        gap: 12px;
    }

    .checkbox {
        font-size: 11px;
    }

    .bid-form__btn {
        font-size: 14px;
        line-height: 1.2;
        padding: 15px;
    }

    .bid-2 .bid__subtitle {
        padding-bottom: 0;
        text-align: center;
    }

    .bid__subtitle {
        margin-bottom: 0;
    }

    .latest-news__inner .title-navigation {
        margin-bottom: 25px;
    }

    .swiper-slide-latest-news {
        width: 312px;
        min-height: 261px;
    }

    .latest-new__info {
        padding: 16px;
    }

    .latest-new__title {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .latest-new__text {
        font-size: 12px;
        margin-bottom: 16px;
    }

    .latest-new__date {
        font-size: 10px;
    }

    .our-contacts .section-title {
        font-size: 26px;
        margin-bottom: 25px;
    }

    .icon-wrapper {
        padding: 0 6px;
        height: 34px;
        margin-bottom: 26px;
    }

    .icon-wrapper::before {
        width: 22px;
        height: 22px;
        left: 4px;
    }

    .icon-img {
        width: 10px;
        height: 10px;
        margin-left: 4px;
    }

    .icon-img__text {
        font-size: 12px;
        margin-left: 12px;
    }

    .contact-text {
        font-size: 12px;
    }

    .icon-wrapper-reset {
        margin-bottom: 0;
    }

    .our-contacts__item-flex .contact-text {
        font-size: 12px;
        margin-right: 0;
    }

    .our-contacts__item-flex {
        min-width: 100%;
    }

    .footer-logo img {
        width: 156px;
        height: 67px;
        margin-bottom: 10px;
    }

    .map__title {
        font-size: 26px;
    }

    .catalog__reviews-residents {
        margin-top: 0;
    }

    .route-container {
        grid-template-columns: repeat(1, auto);
    }

    .route__info-list {
        justify-content: center;
    }

    .catalogHome-cottages .slider-built-cottages {
        height: 1100px;
    }

    .catalogHome-cottages .cottages__content {
        height: 1050px;
    }
}

@media (max-width: 768px) {
    .swiper-slide-mob {
        height: 900px;
    }

    .villages {
        margin-top: -23px;
    }

    .top-mobile__swiper .swiper-pagination {
        margin-bottom: 294px;
        z-index: 9999;
    }

    .projects-home__note {
        padding-left: 8px;
    }

    .projects-home__note::before {
        width: 5px;
        height: 5px;
    }

    .bid__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-wrapper {
        padding: 55px 0;
    }

    .footer-top {
        flex-wrap: wrap;
        gap: 51px;
    }

    .footer-top {
        margin-bottom: 25px;
    }

    .footer__menu-link-mob {
        display: none;
    }

    .footer-bottom {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 6px;
    }

}

@media (max-width: 645px) {

    .slider-built-cottages__img,
    .slider-projects-home__img {
        width: 100%;
    }

    .slider-built-cottages__item,
    .slider-projects-home__item {
        flex-basis: 197px;
    }

    .built-cottage__details-name {
        font-size: 6px;
    }

    .discount-badge {
        font-size: 7px;
        padding: 8px 3px;
    }

    .house-icons {
        gap: 4px;
    }

    .house-icon__img {
        padding: 4px;
        width: 22px;
        height: 22px;
    }

    .projects-home__note {
        font-size: 8px;
    }

    .yourPtoject .container {
        flex-direction: column;
    }

    .yourPtoject__info {
        width: 100%;
    }

    .yourPtoject .bid__form {
        width: 100%;
        max-width: 100%;
    }

    .communications__content {
        grid-template-columns: repeat(1, auto);
    }

    .purchaseOptions .container {
        flex-direction: column;
        align-items: center;
    }

    .purchaseOptions__content-container {
        width: 100%;
        overflow: hidden;
    }

    .purchaseOptions__content {
        flex-direction: row;
        max-width: 100%;
        transition: transform 0.3s ease-in-out;
        gap: 0;
    }

    .purchaseOptions__card {
        min-width: 100%;
        margin-right: 20px;
    }

    .mobile-desctop {
        display: none;
    }

    .materials-mobile {
        display: block;
    }

    .materials__card:not(:last-child) {
        margin-bottom: 0;
    }

    .materials-mobile .container {
        flex-direction: column;
    }

    .materials__cards-container {
        width: 100%;
        overflow: hidden;
    }

    .materials__cards {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        transition: transform 0.3s ease-in-out;
        gap: 0;
    }

    .materials__card {
        min-width: 100%;
        margin-right: 20px;
        margin-bottom: 0;
    }
}

@media (max-width: 605px) {
    .advantages-items {
        padding: 25px 0;
        gap: 16px;
    }

    .advantage-card {
        padding: 12px;
        flex-basis: 197px;
    }

    .advantage-card img {
        width: 40px;
        height: 28px;
    }

    .advantage-card p {
        font-size: 12px;
        line-height: 1.15;
    }

    .contact-text {
        display: none;
    }

    /* PAGE - pros */

    .pros .container {
        
    }

    .pros-bloсks-container {
        width: 100%;
        overflow: hidden;
    }

    .pros-bloсks {
        display: flex;
        transition: transform 0.3s ease;
        gap: 0;
    }

    .pros-bloсks__block {
        min-width: 100%;
        margin-right: 20px;
        -webkit-user-select: none;
      -moz-user-select: none;
           user-select: none;
    }

    .plan__content-card {
        width: 100%;
    }

    .cottages__nav{
        width: 100%;
    }
}

@media (max-width: 540px) {

    .ipoteka_block {
        width: 100%;
        margin: 0 0 28px 0;
        padding: 0 14px;
    }

    .ipdoc__block {
        width: 100%;
    }

    .ipdoc__block2 {
        width: 100%;
    }

    .ipdoc__inner {
        background: #F0F4FB;
        padding: 28px 28px 28px 28px;
        border-radius: 12px;
        margin: 0 0 28px 0;
        height: auto;
    }

    .ipoteka_section {
        background: #fff;
        padding: 60px 0 72px 0;
        margin: 0 0 80px 0;
    }

    .header-cover_ipoteka {
        padding: 167px 0 30px 0;
    }

    .ipoteka_inner {
        position: relative;
        padding: 28px 28px 28px 28px;
        display: flex;
        align-items: center;
    }

    .ipoteka_icon {
        padding: 0 12px 0px 0;
    }

    
    .last-news {
        color: #fff;
        padding: 40px 0 50px 0;
        text-align: left;
    }
   
    .section__name {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
    }

    .section-info {
        flex-basis: 330px;
    }

    .villages__item {
        width: 48%;
    }

    .slider-villages__img {
        width: 100%;
        height: 126px;
    }

    .villages__inner {
        gap: 8px;
    }

    .villages__content {
        min-height: 105px;
    }

    .life__title {
        font-size: 26px;
    }

    .our-contacts__inner {
        display: flex;
        flex-direction: column;
    }

    .contacts__social-link::before {
        width: 34px;
        height: 34px;
    }

    .contacts-icon {
        width: 17px;
        height: 17px;
    }

    .footer__menu-list {
        min-width: 165px;
    }
}

@media (max-width: 440px) {

    .offer {
        font-size: 12px;
    }

    .copyright {
        font-size: 10px;
    }

    .footer__menu-title {
        font-size: 10px;
    }

    .footer__menu-item a {
        font-size: 14px;
    }

    .bid__title {
        text-align: center;
    }

    .bid__subtitle {
        text-align: center;
    }

    .villages__item {
        border: none;
    }

    .popup-menu__mob {
        right: 0px;
    }

    .slider-built-cottages__inner,
    .slider-projects-home__inner {
        gap: 16px 10px;
        justify-content: space-between;
    }

    .life-card {
        max-width: 100%;
        margin-bottom: 16px;
    }

    .life-card img {
        height: 140px;
    }

    .life-card__content {
        padding: 10px;
        padding-top: 26px;
        padding-bottom: 20px;
    }

    .life__content-badge {
        top: 122px;
        border: 2px solid #f0f4fb;
        padding: 8px 10px;
        font-size: 12px;
    }

    .life__content-badge::before {
        width: 6px;
        height: 6px;
    }

    .life__content__info {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .life__content__text {
        font-size: 12px;
    }

    .life-link {
        font-size: 14px;
        font-weight: 400;
    }

    .life-link img {
        width: 16px;
        height: 16px;
    }

    .life__inner {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 0 40px 0;
    }

    .advantages-items,
    .villages__inner {
        justify-content: space-between;
    }

    .section__name,
    .villages__inner,
    .slider-built-cottages,
    .slider-projects-home,
    .advantages-items {
        margin-left: 0px;
        margin-right: 0px;
    }

    .life__title {
        margin-right: 0;
        padding: 0;
    }

    .footer__menu-bottom {
        flex-direction: column;
    }

    .advantage-card {
        padding: 12px;
        flex-basis: 188px;
    }

    .slider-built-cottages__item, .slider-projects-home__item {
        flex-basis: 188px;
    }

}

@media (max-width: 415px) {
    .top-mobile__swiper .swiper-pagination {
        margin-bottom: 344px;
    }

    .header-cover_catalog_title {
        padding: 24px 0 12px 0;
        font-size: 32px;
    }

    .header-cover_descr {
        margin-bottom: 0;
        font-size: 14px;
    }

    .header-cover_catalog-tegs {
        padding-top: 25px;
        margin-bottom: 78px;
    }

    .catalog-villages {
        padding: 15px 0 55px 0;
    }

    .top-slide__privilege {
        padding: 18px 18px 0px 18px;
    }

    .top__swiper-mob .swiper-pagination {
        padding-bottom: 10px;
    }

    .privileges {
        padding: 16px 0 1px 0;
        margin-bottom: 5px;
    }

    .catalog__reviews-residents {
        padding: 36px 0;
    }

    .header-cover_page {
        position: relative;
        padding: 208px 0 159px 0;
    }

    .pros {
        padding: 57px 0 100px 0;
    }

    .pros .container {
        margin-bottom: 87px;
    }

    .pros-title {
        width: 100%;
        margin-bottom: 52px;
    }

    .pros-bloсks__block {
        padding: 10px 22px;
    }

    .pros-bloсks__block-title {
        font-size: 18px;
    }

    .pros-bloсks__block-descr {
        font-size: 12px;
    }

    .reviews-video__top {
        margin-bottom: 67px;
    }

    .reviews-video__line {
        margin-bottom: 79px;
    }    

    .cottages .slider-built-cottages__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .page__advantages {
        padding: 59px 0 62px 0;
    }

    .page__advantages .advantages-items {
        padding: 20px 0 12px 0;
    }

    .advantages-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .plan {
        background-image: url(../images/page/page__plan-img\(mobile\).png);
    }

    .plan-nav {
        position: relative;
    }

    .plan-nav__list {
        position: absolute;
        right: 0;
        bottom: -79px;
    }

    .plan__content {
        padding: 217px 0 100px 0;
        background-image: none;
    }

    .plan__content-card {
        display: grid;
        grid-template-columns: 105px auto;
        gap: 11px;
        padding: 14px 18px 5px 18px;
        margin-bottom: 18px;
    }

    .plan__content-card__top {
        height: 105px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 0;
    }

    .plan__content-card__title {
        margin-bottom: 4px;
        font-size: 14px;
    }

    .plan__content-card__item-descr {
        font-size: 8px;
    }

    .plan__content-card__item {
        padding: 7px 0;
    }

    .plan__content-card__images::after {
        top: 0;
        left: 0;
    }

    .plan__content-conteainer__link {
        display: block;
        margin: 0;
    }

    .gallery-title {
        margin-bottom: 26px;
    }

    .gallery__content-card {
        height: 267px;
    }

    .gallery__content-card__top-descr {
        font-size: 10px;
    }

    .gallery__content {
        gap: 16px;
    }

    .cottages {
        padding: 59px 0;
    }

    .cottages-title {
        margin-bottom: 23px;
    }

    .cottages__nav {
        margin-bottom: 17px;
    }

    .cottages__nav-btn {
        padding: 10px 14px;
        font-size: 12px;
    }

    .route-section {
        padding: 56px 0;
    }

    .route__info-item__title {
        font-size: 18px;
    }

    .route__info-item__descr {
        font-size: 8px;
    }

    .route-title {
        margin-bottom: 19px;
    }
    
    .route__content-title {
        font-size: 16px;
    }

    .route__content-descr {
        font-size: 12px;
    }

    .route__content-top {
        gap: 11px;
    }

    .route__content-top svg {
        width: 17%;
    }

    .route-container {
        margin-bottom: 79px;
        gap: 18px;
    }
    
    .route__content-block {
        padding: 16px 21px;
    }

    .route__content-block:first-child {
        margin-bottom: 11px;
    }

    .infrastructure {
        padding: 57px 0 100px 0;
    }

    .header-cover_catalogHome-tegs {
        margin-bottom: 46px;
    }

    .catalogHome-cottages {
        padding: 17px 0 90px 0;
        background-color: #fff;
    }

    .stages {
        padding: 55px 0;
    }

    .stages-title {
        margin-bottom: 25px;
    }

    .stages-desctop {
        display: none;
    }

    .stages-mobile {
        display: block;
    }

    .stages__slide-article {
        padding: 13px 23px;
    }

    .stages__slide-article svg {
        width: 48px;
        height: 48px;
    }

    .stages__slide-position__circle {
        width: 10px;
        height: 10px;
    }

    .stages__slide-title {
        font-size: 16px;
    }

    .stages__slide-descr {
        font-size: 10px;
    }

    .stages__slaider-container {
        width: 100%;
        overflow: hidden;
        height: auto;
        margin-bottom: 106px;
    }

    .stages__slider-mobile {
        position: relative;
        display: flex;
        flex-direction: row;
        max-width: 100%;
        transition: transform 0.3s ease-in-out;
        gap: 0;
    }

    .stages__slide-mobile {
        min-width: 100%;
        margin-right: 20px;
    }

    .stages__slide-article {
        width: 100%;
        margin-right: 0;
    }

    .yourPtoject {
        padding: 55px 0 55px;
    }

    .yourPtoject__info-title {
        margin-bottom: 17px;
    }

    .yourPtoject__info-descr {
        font-size: 12px;
    }

    .yourPtoject .container {
        gap: 43px;
        margin-bottom: 111px;
    }

    .yourPtoject .bid__form {
        background-color: inherit;
    }

    .materials-mobile {
        padding: 55px 0 55px 0;
    }

    .materials-title {
        margin-bottom: 0;
    }

    .materials__card {
        padding: 17px 22px;
    }

    .materials__card-top svg {
        width: 14%;
    }

    .materials__card-title {
        font-size: 18px;
    }

    .materials__card-descr {
        font-size: 14px;
    }

    .communications {
        padding: 55px 0 55px 0;
    }

    .communications-title {
        margin-bottom: 27px;
    }

    .communications__content {
        gap: 8px;
    }

    .catalogHome-villages .container {
        margin-bottom: 99px;
    }

    .catalogHome__reviews-video {
        margin-bottom: 123px;
    }

    .purchaseOptions {
        padding: 55px 0 55px 0;
    }

    .purchaseOptions .container {
        align-items: flex-start;
    }

    .purchaseOptions-title {
        max-width: 55%;
    }

    .purchaseOptions__content {
        margin-top: 50px;
    }

    .purchaseOptions__card-title{
        font-size: 18px;
    }

    .purchaseOptions__card {
        padding: 41px 27px 18px 21px;
    }

    .purchaseOptions__card-descr {
        margin-bottom: 12px;
        font-size: 12px;
    }

    .purchaseOptions__card-item__descr {
        font-size: 12px;
    }

    .cottages__content {
        min-height: 1039px;
    }

}

@media (max-width: 390px) {
    .villages {
        margin-top: -53px;
    }
}

@media (max-width: 360px) {
    .index-top .container {
        margin-bottom: 100px;
    }

    .villages {
        margin-top: -105px;
    }

    .villages__item-mob-hidden {
        display: none;
    }

    .villages .privileges__link,
    .built-cottages .privileges__link,
    .projects-home .privileges__link {
        display: flex;
        padding: 16px;
        justify-content: center;
        width: 100%;
        margin: 0;
        margin-top: 25px;
        font-size: 14px;
        line-height: 1.2;
    }

    .slider-built-cottages,
    .slider-projects-home {
        margin-bottom: 0;
    }

    .slider-built-cottages,
    .slider-projects-home {
        height: 1014px;
    }

    .projects-home {
        margin-bottom: 65px;
    }

    .top-slide-img {
        margin-left: -17px;
        width: 200px;
        height: 200px;
    }

    .top-slide__privilege {
        font-size: 12px;
    }

    .privilege-item-mob {
        width: 145px;
    }

    .advantages-items {
        gap: 10px;
    }

    .built-cottages {
        margin-bottom: -38px;
    }

    .reviews-video .swiper-slide-video:first-child {
        width: 286px;
    }

    .reviews-video {
        margin-bottom: 77px;
    }

    .bid__form {
        background-color: transparent;
        padding: 0;
    }

    .form-item {
        border: none;
        background-color: #fff;
    }

    .bid__wrapper {
        gap: 16px;
    }

    .bid__title,
    .bid__subtitle {
        text-align: center;
    }

    .bid__subtitle {
        font-size: 12px;
    }

    .swiper-slide-latest-news {
        margin-right: 5px;
    }

    .swiper-slide-latest-news {
        width: 306px;
    }

    .footer__menu-list {
        font-size: 14px;
    }

    .offer {
        font-size: 10px;
    }

    .footer__menu-link {
        font-size: 12px;
    }

    .section__name,
    .villages__inner,
    .slider-built-cottages,
    .slider-projects-home,
    .advantages-items {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 391px) {


    .advantage-card {
        padding: 12px;
        flex-basis: 178px;
    }

    .slider-built-cottages__item, .slider-projects-home__item {
        flex-basis: 178px;
    }
}


@media (max-width: 376px) {
    .top-mobile__swiper .swiper-pagination {
        margin-bottom: 364px;
    }

    .slider-built-cottages__item, .slider-projects-home__item {
        flex-basis: 170px;
    }

    .advantage-card {
        padding: 12px;
        flex-basis: 169px;
    }
}